@import "../utilities/ellipsis";
@import "../utilities/simple-hero";

.modal-background {
    background-color: $black;
    display: none;
    height: 100%;
    position: fixed;
    opacity: 0.5;
    width: 100%;
    top: 0;
    left: 0;
}

input[placeholder] {
    text-overflow: ellipsis;
}

.hide-order-discount {
    display: none;
}

.hide-shipping-discount {
    display: none;
}

.order-discount {
    color: $danger;
}

.shipping-discount {
    color: $danger;
}

.error-messaging {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: z("error-messaging");
}

.error-hero {
    @include simple-hero;
}

.error-message {
    margin-top: rem(50px);
    margin-bottom: rem(50px);
}

.error.continue-shopping {
    margin-bottom: 6.25em;
}

.remove-btn-sm {
    @extend .remove-btn;

    &::after {
        width: 12px;
        height: 12px;
        background-size: contain;
    }
}

.ellipsis {
    @include ellipsis();
}

// seperated webkit ellipsis due to Slick Slider causing the ellipsis to disappear on tiles on webkit browsers

.webkit-ellipsis {
    @include webkit-ellipsis();
}

.hidden {
    display: none;
}
