@import "../variables";
@import "bootstrap/scss/variables";
@import "checkoutComponents";
@import "bootstrap/scss/mixins/breakpoints";
@import "../components/formFields";
@import "~org/utilities/functions";
@import "../utilities/z_index";
@import "shipping";
@import "../components/creditCardField";

$checkout-font-weight: 700;
$receipt-spacing: rem(15px);

// global checkout "step" styles
#checkout-main {
    // fake accordion drawers
    .card-header {
        border: $border;
        height: 60px;
        padding: rem(15px);

        span.checkout-step-number {
            display: inline-block;
            width: 28px;
            height: 28px;
            background-color: $brand-light;
            border: 1px solid $brand-main;
            border-radius: 50%;
            margin-right: rem(10px);
            text-align: center;
            font-weight: $font-weight-bold;
            font-size: rem(18px);
            vertical-align: top;

            &.filled {
                background-color: $brand-main;
            }
        }

        h6 {
            font-size: rem(20px);
            display: inline;

            @include media-breakpoint-down(sm) {
                display: inline-block;
                width: 74%;
            }
        }

        .delivery-type {
            font-weight: $font-weight-regular;
        }
    }

    .single-shipping .card,
    .prop65-checkout-message.card,
    .card.payment-form {
        margin-bottom: 0;
    }

    .card-body:not(.shipping-content),
    .checkout-button {
        background-color: $accent-3;
        padding: rem(15px);
        border-right: $border;
        border-left: $border;
    }

    .prop65-checkout-message .card-body {
        background-color: $white;
        padding: rem(15px) 0;
        border: none;
    }

    .checkout-button {
        border-bottom: $border;
        padding-bottom: rem(15px);
        margin-bottom: rem(15px);

        // button is sticky
        @include media-breakpoint-down(sm) {
            padding: 0;
        }
    }

    .review-summary,
    .shipping-summary,
    .payment-summary {
        .card-header {
            border: none;
        }

        .card-body {
            padding-top: 0;
            background-color: $light;
            border: none;
        }

        .shipping-summary-row,
        .billing-summary-row {
            padding-left: rem(42px);
        }
    }

    .review-summary {
        .card-header {
            border: 0; // needed to override inherited border
            border-bottom: $border;
        }

        .card-body {
            @include media-breakpoint-up(md) {
                padding-top: rem(35px);
            }
        }

        .order-review-products {
            padding-top: rem(15px);

            @include media-breakpoint-up(md) {
                padding-top: 0;
            }
        }
    }
}

.shipping-summary,
.payment-summary {
    border: $border;

    .card-header {
        border: none;
    }

    .card-body {
        background-color: $light;
        border: none;
        padding-top: rem(5px);

        @include media-breakpoint-up(md) {
            padding-top: 0;
        }
    }
}

.payment-summary {
    .card-body {
        @include media-breakpoint-down(md) {
            font-size: $font-size-xs;
        }

        @include media-breakpoint-up(md) {
            .divider {
                border-left: $border;
            }
        }
    }
}

.review-summary {
    border: $border;

    .card-header {
        border: 0; // needed to override inherited border
        border-bottom: $border;
    }

    .card-body {
        background-color: $light;
        border: none;

        @include media-breakpoint-up(md) {
            padding-top: rem(35px);

            .divider {
                border-left: $border;
            }
        }
    }

    .review-header {
        @include media-breakpoint-up(md) {
            margin-bottom: rem(15px);
        }
    }

    .dealer-summary-block {
        line-height: rem(20px);

        &::before {
            @include media-breakpoint-down(sm) {
                content: "";
                display: block;
                border-bottom: $border;
                margin: $receipt-spacing 0;
            }
        }

        > div,
        > div > div {
            margin-bottom: rem(15px);
        }
    }

    .product-line-item {
        .line-item-name {
            font-size: $h6-font-size;
        }

        .extended-name,
        .item-attributes,
        .line-item-attributes,
        .strike-through:not(.non-adjusted-price),
        .line-item-price-info,
        .line-item-total-text,
        .line-item-total-price-amount,
        .item-number,
        .product-line-item-results {
            font-size: $font-size-body;
        }

        .extended-name {
            margin: rem(2px) 0;
        }

        .item-number,
        .line-item-price-info {
            margin-bottom: 0;
        }

        .product-line-item-results {
            line-height: normal;
        }
    }

    .bundle-line-item-details {
        .line-item-name {
            font-size: $font-size-body;
        }

        .item-attributes > p {
            margin: 0;
        }
    }
}

.card.ghost {
    opacity: 0.5;
}

.arrival-time {
    white-space: pre;
}

.billing-address {
    display: block;
}

.billing-address.same-as-shipping {
    display: none;
}

.checkout-checkbox {
    font-size: 0.875em;
}

.checkout-summary-header {
    display: inline;
}

.product-line-item + .product-line-item::before,
.multi-shipping + .product-line-item::before {
    content: "";
    display: block;
    border-bottom: $border;
    margin: $receipt-spacing 0;
}

.shipment-block + .shipment-block::before {
    content: "";
    display: block;
    border-bottom: $border;
    margin: $receipt-spacing 0;
}

.shipment-selector-block,
.address-selector-block {
    .btn-show-details,
    .btn-add-new {
        margin-top: rem(10px);
        cursor: pointer;
    }

    .btn-show-details,
    .btn-hide-details {
        padding-top: 0;
    }
}

.edit-button {
    float: right;
    cursor: pointer;
    text-decoration: underline;
    font-weight: $font-weight-bold;

    &:hover {
        text-decoration: underline;
        color: $link-hover-color;
    }
}

.error-message {
    display: none;
}

.next-step-button {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: z("next-step-button");
    padding-right: 0;
    padding-left: 0;

    @include media-breakpoint-down(sm) {
        background-color: rgba(255, 255, 255, 0.95);
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);

        div {
            padding: $spacer;
        }
    }

    @include media-breakpoint-up(md) {
        position: static;
        padding-right: 0.938em;
        padding-left: 0.938em;

        button {
            width: 260px;
            padding: rem(15px) 0;
        }
    }
}

.section-title {
    font-weight: $checkout-font-weight;
}

span.ship-to-name,
span.ship-to-address1,
span.ship-to-address2,
span.ship-to-phone,
span.ship-to-city-st-zip {
    display: block;
}

#address-validation {
    .use-suggested-address,
    .use-original-address,
    .edit-address {
        @include media-breakpoint-down(xs) {
            width: 100%;
            margin-bottom: rem(10px);
        }
    }

    .use-original-address {
        @include media-breakpoint-down(xs) {
            margin-right: 0;
        }
    }
}

.item-prop65-msg {
    width: 100%;
    margin-top: rem(10px);

    &.half-width {
        display: none;
        visibility: hidden;
    }

    &.full-width {
        display: block;
        visibility: visible;
    }

    @include media-breakpoint-up(sm) {
        &.half-width {
            display: block;
            visibility: visible;
        }

        &.full-width {
            display: none;
            visibility: hidden;
        }
    }

    @include media-breakpoint-up(md) {
        &.half-width {
            display: none;
            visibility: hidden;
        }

        &.full-width {
            display: block;
            visibility: visible;
        }
    }

    .alert.alert-sm.brand-warning {
        margin-bottom: 0;
    }

    .review-summary & {
        &.full-width {
            display: block;
            visibility: visible;
        }

        @include media-breakpoint-up(sm) {
            &.half-width {
                display: block;
                visibility: visible;
            }

            &.full-width {
                display: none;
                visibility: hidden;
            }
        }

        @include media-breakpoint-up(md) {
            &.half-width {
                display: none;
                visibility: hidden;
            }

            &.full-width {
                display: block;
                visibility: visible;
            }
        }

        @include media-breakpoint-up(lg) {
            &.half-width {
                display: block;
                visibility: visible;
            }

            &.full-width {
                display: none;
                visibility: hidden;
            }
        }
    }
}

.prop65-checkout-message {
    .custom-checkbox {
        margin: rem(20px) 0 0;
    }

    .card-body {
        background-color: $white;
        padding: rem(15px) 0;
    }
}

.data-checkout-stage {
    // Initial states ------------------------
    .card-header {
        h4 {
            margin-bottom: 0;
        }
    }

    &[data-checkout-stage] {
        .card.payment-summary,
        .shipping-summary,
        .review-summary {
            display: none;
        }

        button.place-order {
            display: none;
        }

        button.submit-payment {
            display: none;
        }

        button.submit-shipping {
            display: none;
        }
    }

    // Shipping ------------------------------
    &[data-checkout-stage=shipping] {
        &.multi-ship .order-product-summary {
            display: none;
        }

        .card.payment-form {
            display: none;
        }

        button.submit-shipping {
            display: block;
        }

        .shipment-selector-block {
            .btn-show-details,
            .btn-add-new {
                color: $link-color;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        [data-view-mode] .view-address-block,
        [data-view-mode] .edit-address-block,
        [data-view-mode] [data-action] {
            display: none;
        }

        [data-view-mode=view] .view-address-block,
        [data-view-mode=view] [data-action=edit] {
            display: block;
        }

        [data-view-mode=edit] .edit-address-block,
        [data-view-mode=edit] .col-12[data-action=save] {
            display: block;
        }

        [data-view-mode=enter] [data-action=enter] {
            display: block;
        }

        [data-address-mode=customer] {
            .shipping-address-block {
                display: none;
            }

            .btn-hide-details {
                display: none;
            }
        }

        [data-address-mode=shipment] {
            .shipping-address-form {
                display: none;
            }

            .btn-hide-details {
                display: none;
            }
        }

        [data-address-mode=edit] {
            .shipping-address-block {
                display: block;
            }

            .btn-hide-details {
                display: none;
            }
        }

        [data-address-mode=new] {
            .btn-hide-details,
            .btn-show-details,
            .btn-add-new {
                display: none;
            }
        }

        [data-view-mode=edit] [data-address-mode=edit] {
            .btn-show-details,
            .btn-add-new,
            .col-12[data-action=save] {
                display: block;
            }

            .row > [data-action=save],
            .row > [data-action=cancel] {
                display: none;
            }
        }

        [data-view-mode=edit] [data-address-mode=details] {
            .btn-show-details,
            .btn-add-new,
            .col-12[data-action=save] {
                display: none;
            }

            .row > [data-action=save],
            .row > [data-action=cancel] {
                display: inline-block;
            }

            .row > [data-action=save] {
                margin-left: 10px;
            }
        }
    }

    // Payment -------------------------------
    &[data-checkout-stage=payment] {
        .shipping-form,
        .card.ghost,
        .review-summary {
            display: none;
        }

        .shipping-section {
            display: none;
        }

        .card.payment-form,
        .shipping-summary {
            display: block;
        }

        .credit-card-tab {
            margin: 0;
        }

        .card-image {
            width: 100%;
            max-width: 100px;
        }

        button.submit-payment {
            display: block;
        }

        .address-selector-block {
            .btn-show-details,
            .btn-add-new {
                color: $link-color;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .btn-show-details,
        .btn-hide-details {
            padding-top: 0;
        }

        .fake-checkout-steps .payment-card {
            display: none;
        }

        [data-address-mode=customer] {
            .billing-address {
                display: none;
            }

            .btn-hide-details {
                display: none;
            }
        }

        [data-address-mode=shipment] {
            .billing-address {
                display: none;
            }

            .btn-hide-details {
                display: none;
            }
        }

        [data-address-mode=edit] {
            .billing-address {
                display: none;
            }

            .btn-hide-details {
                display: none;
            }
        }

        [data-address-mode=new] {
            .btn-show-details,
            .btn-add-new {
                display: none;
            }
        }

        [data-address-mode=details] {
            .btn-show-details,
            .btn-add-new {
                display: none;
            }
        }
    }

    // Place Order -----------------------------
    &[data-checkout-stage=placeOrder] {
        .shipping-form,
        .shipping-section,
        .card.payment-form,
        .card.ghost {
            display: none;
        }

        .card.payment-summary,
        .shipping-summary,
        .review-summary {
            display: block;
        }

        .checkout-button {
            @include media-breakpoint-up(md) {
                display: none;
            }
        }

        .order-total-summary {
            .row.grand-total {
                @include media-breakpoint-down(sm) {
                    border-bottom: 0;
                }
            }

            .place-order {
                @include media-breakpoint-down(sm) {
                    display: none;
                }
            }
        }

        button.place-order {
            display: block;
        }

        .fake-checkout-steps {
            .payment-card,
            .order-review-card {
                display: none;
            }
        }
    }

    &[data-checkout-stage=submitted] {
        .shipping-form,
        .card.payment-form,
        .card.ghost,
        .dealer-shipping-block {
            display: none;
        }

        .summary-section-label.shipping-addr-label {
            display: none;
        }

        .card.payment-summary,
        .shipping-summary {
            display: block;
        }

        button.place-order {
            display: none;
        }
    }

    option[value=new] {
        display: none;
    }

    h5 > span {
        font-size: 0.8em;
    }
}

[data-customer-type=guest] .single-shipping .shipment-selector-block {
    display: none;
}

.receipt {
    margin: 0 auto rem(20px);

    @include media-breakpoint-up(sm) {
        margin: 0 auto rem(40px);
    }

    ol.breadcrumb {
        padding-bottom: rem(20px);
    }

    .order-thank-you-msg {
        margin-bottom: rem(17px);
    }

    .confirmation-status {
        > span {
            font-size: $font-size-base;
        }
    }

    .btn-print {
        margin: 0 0 0 auto;
    }

    .card {
        padding: 0 rem(17px);
        border: $border;
    }

    .card-header {
        h4 {
            @include media-breakpoint-down(md) {
                font-size: rem(20px);
            }
        }
    }

    .shipping-summary,
    .payment-summary {
        .card-body {
            padding-left: 0;
        }
    }

    .review-summary {
        .card-body {
            padding-top: rem(15px);
        }

        .review-header {
            margin-bottom: 0;
        }

        + .order-confirmation-continue-shopping {
            display: none;

            @include media-breakpoint-up(md) {
                display: block;
                max-width: 260px;
            }
        }
    }

    .order-confirm-create-account,
    .checkout-order-total-summary {
        padding: 0;
        border: 0;

        .card {
            border-top: 0;
        }

        .card-header {
            padding: rem(15px);
            border: $border;

            h6 {
                margin: 0;
            }
        }

        .card-body {
            border: $border;
        }

        .btn {
            margin: 0 auto;
            max-width: 260px;

            @include media-breakpoint-up(md) {
                max-width: 100%;
            }
        }
    }

    .dealer-pickup-header,
    .dealer-delivery-header,
    .factory-delivery-header {
        font-weight: $font-weight-regular;
    }

    .order-confirm-create-account {
        margin-bottom: 0;

        .card {
            margin: 0;
            border-bottom: 0;
        }

        .card-body {
            padding: rem(15px) rem(15px) rem(30px);
            border-top: 0;
            border-bottom: 0;
        }
    }

    .order-total-summary {
        &.card-body {
            border-top: 0;
        }

        > .row {
            padding: 0 rem(15px);
        }

        .row.grand-total {
            margin: rem(10px) rem(15px);
            padding: rem(5px) 0 0;
            border-bottom: 0;

            @include media-breakpoint-up(md) {
                margin: rem(10px) rem(15px) 0;
            }
        }

        .order-confirmation-continue-shopping {
            @include media-breakpoint-up(md) {
                max-width: calc(100% - #{rem(30px)});
            }
        }
    }

    .disclaimer-section {
        padding: rem(15px) 0;

        @include media-breakpoint-up(md) {
            padding: rem(25px) 0;
        }
    }
}

.confirmation-header {
    margin-bottom: rem(20px);

    @include media-breakpoint-up(sm) {
        margin-bottom: rem(40px);
    }
}

.card-header {
    > a.edit-button {
        text-decoration: underline;
    }
}
