@import "~org/variables";

$blog-refinement-color-icon: #007bff;
$blog-post-title-font-size: 40px;
$blog-category-color: $gray-400;
$blog-post-body-font-size: 16px;
$blog-post-date-color: $gray-400;
$blog-post-date-font-size: 16px;
$blog-post-tag-color: $gray-400;
$blog-post-tag-font-size: 16px;
$blog-search-count-color: $gray-400;
$blog-search-count-font-size: 16px;
$blog-search-count-font-weight: 600;
$blog-search-item-category-color: $gray-500;
$blog-search-item-title-color: $primary;
