.card-group.product-line-banner-group {
    padding: 0 rem(15px);

    > .row {
        width: 100vw;
    }

    .row .col-12 {
        margin-bottom: rem(15px);
    }

    @include media-breakpoint-up(lg) {
        padding: 0 rem(30px);

        .row .col-12 {
            margin-bottom: rem(30px);
        }
    }
}

.card.product-line-card {
    background: $accent-3;
    position: relative;
    padding: 0;
    margin: 0;
    flex: 0 0 auto;
    flex-direction: column;

    @include media-breakpoint-up(lg) {
        flex-direction: row;
        align-items: center;
    }

    .primary-tile-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .card-title {
        @extend .h2; // override base .card-title h6 styles
    }

    .card-body {
        padding: rem(15px);

        @include media-breakpoint-down(md) {
            text-align: center;
            -ms-flex-order: 2 !important; // always on the bottom in mobile
            order: 2 !important;
        }

        @include media-breakpoint-up(lg) {
            padding: rem(20px) rem(20px) rem(20px) rem(100px);
            flex-basis: 50%;
            max-width: 50%; // prevent IE11 from making element larger than 50%
            position: relative;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                right: -10%;
                display: inline-block;
                height: 100%;
                width: 1px;
                background: $border-color;
            }
        }
    }

    .card-img {
        @include media-breakpoint-up(lg) {
            flex-basis: 50%;
        }
    }

    .category-cta {
        margin-top: rem(30px);
        min-height: 20px;

        @include media-breakpoint-down(sm) {
            text-align: center;
        }

        @include media-breakpoint-up(lg) {
            margin-top: 12%;
        }

        .btn {
            min-width: 220px;
        }
    }

    // Lifestlye version
    &.lifestyle {
        .card-title {
            @extend .h2; // override base .card-title h6 styles

            margin-bottom: rem(20px);
        }

        .clp-img-container {
            display: none;
            margin-bottom: rem(20px);

            @include media-breakpoint-up(lg) {
                display: block;
            }
        }

        .card-body {
            padding: 5%;
            text-align: center;

            &::after {
                display: none;
            }
        }

        .category-cta {
            margin-top: rem(30px);
            min-height: 20px;

            @include media-breakpoint-up(lg) {
                margin-top: 10%;
            }
        }
    }
}
