.cub-brand,
.troybilt-brand,
.remington-brand,
.rover-brand,
.yard-machine-brand,
.robomow-brand,
.wolf-garten-brand,
.mtd-parts-brand,
.columbia-brand,
.bolens-brand,
.yardman-brand {
    .content {
        &.one {
            padding-top: 50px;
            width: 80%;

            .brand-img {
                max-width: 350px;
                margin: auto;
                margin-bottom: 25px;
            }
        }
    }
    @include media-breakpoint-up(md) {
        .content {
            &.one {
                .brand-img {
                    margin: unset;
                    margin-bottom: 0;
                }
            }
        }
    }
}
