$desktop-min:  58.75em;

.page-title {
    display: none;
}

.content-page-image {
    display: none;
}

.hero {
    display: none;
}

.track-order {
    max-width: 500px;
    margin: auto;
}

.faqs {
    padding: 2rem 1rem;
    margin-bottom: 3rem;
}

.faqs h3 {
    text-align: center;
}

.faqs dl,
.ffaqs dt,
.ffaqs dd {
    margin: 0;
    padding: 0;
}

.faqs dl {
    max-width: 640px;
    margin: 0 auto;
}

.faqs dt {
    color: #000;
    font-size: 1.25rem;
    line-height: 1.5rem;
    text-transform: none;
    padding: 1rem 2rem 1rem 0;
    border-bottom: 1px solid #d9d9d9;
    position: relative;
}

.faqs dt:hover,
.faqs dt.show {
    cursor: pointer;
    color: #979797;
}

.faqs dt.show {
    border-color: #fff;
}

.faqs dt::after {
    content: "";
    position: absolute;
    width: 32px;
    height: 32px;
    top: 0.75rem;
    right: -0.25rem;
    background:
        url  ('https://d1dy019watpwba.cloudfront.net/images/financing/icon-plus.png'),
        no-repeat center;
    background-size: 17px 17px;
    transform: rotateZ(0deg);
    -webkit-animation: rotateback 300ms;
    -moz-animation: rotateback 300ms;
    -o-animation: rotateback 300ms;
    animation: rotateback 300ms;
}

.faqs dt.show::after {
    transform: rotateZ(45deg);
    -webkit-animation: rotate 300ms;
    -moz-animation: rotate 300ms;
    -o-animation: rotate 300ms;
    animation: rotate 300ms;
}

.faqs dd {
    padding: 0 1rem 1rem;
    display: none;
    opacity: 0;
    font-size: 1rem;
    line-height: 1.5rem;
    border-bottom: 1px solid #fff;
}

.faqs dd.show {
    display: block;
    opacity: 1;
    border-bottom-color: #d9d9d9;
    -webkit-animation: fade 1000ms;
    -moz-animation: fade 1000ms;
    -o-animation: fade 1000ms;
    animation: fade 1000ms;
}

.faqs dd * {
    color: #000;
}

.faqs dd p {
    line-height: 1.5rem;
}

.faqs dd p:last-child {
    margin-bottom: 0;
}

@-webkit-keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(45deg);
    }
}

@-moz-keyframes rotate {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(45deg);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes rotateback {
    0% {
        -webkit-transform: rotate(45deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
    }
}

@-moz-keyframes rotateback {
    0% {
        -moz-transform: rotate(45deg);
    }

    100% {
        -moz-transform: rotate(0deg);
    }
}

@keyframes rotateback {
    0% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@media only screen and (min-width: $desktop-min) {
    .faqs h3 {
        font-size: 2rem;
        line-height: 2.25rem;
    }

    .faqs dl {
        max-width: 840px;
    }

    .faqs dt {
        font-size: 1.375rem;
        line-height: 1.875rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .faqs dt::after {
        top: 2rem;
    }

    .faqs dd {
        padding-bottom: 2rem;
    }

    .faqs dd p {
        font-size: 1.125rem;
        line-height: 1.5rem;
    }
}
