@charset "UTF-8";

@import "~org/utilities/ellipsis";

// Default Variables

// Slick icon entity codes outputs the following
// "\2190" outputs ascii character "←"
// "\2192" outputs ascii character "→"
// "\2022" outputs ascii character "•"

$slick-loader-path: "~org/lib/slick/";
$slick-arrow-color: $trans;
$slick-arrow-bg-color: $trans;
$slick-arrow-bg-color-hover: $trans;
$slick-arrow-thickness: 2px;
$slick-dot-color: $accent-1;
$slick-dot-bg-color: $trans;
$slick-dot-color-hover: $accent-1;
$slick-dot-color-active: $accent-1;
$slick-dot-size: 25px;
$slick-opacity-default: 1;
$slick-opacity-on-hover: 0.5;
$slick-opacity-not-active: 1;

.slick-active:focus {
    outline: none;
}

/* Dots */

.slick-dots {
    li {
        width: 8px;

        button {
            &:hover,
            &:focus {
                outline: none;
                background-color: transparent;

                &::before {
                    opacity: $slick-opacity-on-hover;
                    background-color: $slick-dot-color-hover;
                }
            }

            &::before {
                content: "";
                position: absolute;
                top: 5px;
                left: 5px;
                border-radius: 50%;
                border: 1px solid $slick-dot-color;
                width: 12px;
                height: 12px;
                font-size: $slick-dot-size;
                line-height: 20px;
                text-align: center;
                color: $slick-dot-color;
                background-color: $slick-dot-bg-color;
                opacity: $slick-opacity-not-active;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }

        &.slick-active button::before {
            color: $slick-dot-color-active;
            background-color: $slick-dot-color-active;
            opacity: $slick-opacity-default;
        }
    }

    > li {
        display: inline-block;
    }

    // bugfix in slick where dots show w/ one slide
    > li:only-child {
        display: none;
    }
}

.slide-prev,
.slide-next,
.slick-prev,
.slick-next {
    opacity: 1;

    &::before {
        transform: rotate(0deg);
        border: 0;
        width: 10px;
        height: 20px;
    }
}

.slick-prev,
.slide-prev {
    &::before {
        background: $svg-arrow-left-path no-repeat center center;
    }
}

.slick-next,
.slide-next {
    &::before {
        background: $svg-arrow-right-path no-repeat center center;
    }
}

.slide-prev,
.slide-next {
    display: inline-block;

    &::before {
        content: "";
        display: inline-block;
        vertical-align: middle;
    }
}

.slide-pause {
    background-color: $trans;

    .pause-button {
        position: static;
        display: inline-block;
        margin-left: 3px;
        width: 20px;
        height: 18px;
        background: $svg-pause-path no-repeat center center/contain;
        cursor: pointer;
        vertical-align: middle;
    }
}

.slider-controls {
    position: relative;
    top: -15px;
    padding: 0 rem(15px);

    @include media-breakpoint-up(lg) {
        padding: 0 rem(30px);
    }

    &.controls-center {
        text-align: center;
    }

    &.controls-right {
        padding-right: rem(25px);
        text-align: right;

        @include media-breakpoint-up(lg) {
            padding-right: rem(45px);
        }
    }

    &.controls-left {
        padding-left: rem(25px);
        text-align: left;

        @include media-breakpoint-up(lg) {
            padding-left: rem(45px);
        }
    }

    &.controls-light {
        .slick-prev,
        .slide-prev {
            &::before {
                background: $svg-arrow-left-white-path no-repeat center center;
            }
        }

        .slick-next,
        .slide-next {
            &::before {
                background: $svg-arrow-right-white-path no-repeat center center;
            }
        }

        .slick-dots {
            li {
                button {
                    &:hover,
                    &:focus {
                        &::before {
                            background-color: $white;
                        }
                    }

                    &::before {
                        border: 1px solid $white;
                        color: $white;
                    }
                }

                &.slick-active button::before {
                    color: $white;
                    background-color: $white;
                }
            }
        }
    }

    .slide-dots {
        display: inline-block;
    }

    .slick-dots {
        position: static;

        > li {
            vertical-align: middle;
            height: 20px;
            width: 20px;
            margin: 0;

            button {
                height: 20px;
                width: 20px;
                padding: 0;

                &::before {
                    top: 4px;
                    left: 4px;
                }
            }
        }
    }
}

.slick-list {
    .video-slide {
        position: relative;
        background-color: $dark;

        .slide-link {
            position: absolute;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: $svg-video-white no-repeat center center;
                pointer-events: none;
                z-index: z('slick-theme', '360view');
            }
        }
    }
}

.quick-view-dialog,
.choose-bonus-product-dialog {
    .slick-arrow {
        padding: 0;
    }
}

.product-detail .primary-images {
    .slick-arrow {
        background-color: $trans;
    }

    .slick-next,
    .slick-prev {
        width: 20px;
        height: 30px;

        &::before {
            margin: 0;
        }
    }
}

.pdp-slider-controls {
    @include media-breakpoint-up(sm) {
        display: none;
    }
}

.pdp-carousel {
    .Magic360,
    .Magic360-container {
        border: 0;
    }
    @include media-breakpoint-up(md) {
        float: left;
        width: calc(100% - 100px);
    }

    .slick-arrow,
    .slick-dots {
        @include media-breakpoint-up(sm) {
            display: none !important;
        }
    }

    .rotate-img {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: $svg-360 no-repeat 5% 95%;
            background-size: 40px;
            pointer-events: none;
            z-index: z('slick-theme', '360view');

            @include media-breakpoint-up(lg) {
                background-size: 60px;
            }
        }
    }

    // two loaders added; only one is needed
    // this one never changes percent
    .m360-loader.shown[data-progress='0%'] {
        display: none;
    }

    .slick-list {
        .video-slide {
            .slide-link {
                @include centerElement(vertical);

                cursor: pointer;

                &::before {
                    background-size: 43px;
                    transition: opacity 0.15s ease-in-out;
                }

                &:hover {
                    &::before {
                        transition: opacity 0.15s ease-in-out;
                        opacity: 0.8;
                    }
                }
            }
        }
    }
}

.pdp-carousel-nav {
    width: calc(100% - #{rem(40px)});
    margin: 0 auto;

    @include media-breakpoint-up(md) {
        float: right;
        width: 70px;
        margin-top: rem(40px);
    }

    @include media-breakpoint-up(lg) {
        margin-top: 0;

        @include centerElement(vertical, relative);
    }

    .slick-prev,
    .slide-prev {
        &::before {
            background: $svg-arrow-up no-repeat center center;
            width: 20px;
        }
    }

    .slick-next,
    .slide-next {
        &::before {
            background: $svg-arrow-down no-repeat center center;
            width: 20px;
        }
    }

    .slick-prev {
        left: -20px;
        transform: translate(0, -50%) rotate(-90deg);

        @include media-breakpoint-up(md) {
            top: -30px;
            left: 24px;
            transform: rotate(0);
        }
    }

    .slick-next {
        right: -20px;
        transform: translate(0, -50%) rotate(-90deg);

        @include media-breakpoint-up(md) {
            top: calc(100% - 5px);
            right: 24px;
            transform: rotate(0);
        }
    }

    .slide {
        margin-right: rem(5px);
        border: $border;

        @include media-breakpoint-up(md) {
            margin: 0 0 rem(5px) 0;
        }

        &:last-child {
            margin: 0;
        }
    }

    .rotate-thumb {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: $svg-360 no-repeat center center;
            background-color: rgba($white, 0.75);
        }
    }

    .slick-list {
        .video-slide {
            .slide-link {
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;

                &::before {
                    background-size: 28px;
                }
            }
        }
    }
}

.pdp-feature-card-carousel {
    .slick-dots {
        bottom: -20px;
        @include media-breakpoint-down(sm) {
            bottom: 15px;
        }
    }
}

.gallery-caro {
    .slick-slide {
        img {
            width: 100vw;
            max-width: 100vw;
        }
    }

    .hero {
        padding: rem(15px) 0;

        @include media-breakpoint-up(lg) {
            padding: rem(30px) 0;
        }
    }

    .video-wrapper iframe {
        width: 100%;
        height: 100%;
        pointer-events: none;
    }
}

.landing-gallery-caro {
    .video-wrapper {
        padding: rem(30px);

        iframe {
            width: 100%;
            height: 100%;
            pointer-events: none;
        }
    }
}

.hytPlayerWrap {
    display: inline-block;
    position: relative;

    &.paused::after {
        content: "";
        position: absolute;
        top: 29px; //29px to account for padding and to prevent the video from showing below
        left: 29px;
        bottom: 29px;
        right: 29px;
        cursor: pointer;
        background-color: $secondary;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 8vw;
        background-image: $svg-video-white;
    }
}

.product-tile-caro {
    .slick-dots {
        opacity: 1;
    }

    .slick-prev {
        left: 15px;

        @include media-breakpoint-up(sm) {
            left: -13px;
        }

        @include media-breakpoint-up(md) {
            left: -25px;
        }
    }

    .slick-next {
        right: 15px;

        @include media-breakpoint-up(sm) {
            right: -13px;
        }

        @include media-breakpoint-up(md) {
            right: -25px;
        }
    }

    .product-tile {
        margin: 0 rem(15px);

        .quickview {
            display: none;
        }

        .product-extended-name {
            display: block;
        }

        .image-container {
            .badge-row {
                display: none;
                visibility: hidden;
            }
        }

        .tile-body {
            padding-bottom: rem(45px);

            .pdp-link a {
                @include product-name-1;
                @include ellipsis(18px, 36px, $accent-3);

                text-align: left;
                margin: 0;
            }
        }
    }
}
