@import "variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/mixins/breakpoints";
@import "utilities/swatch";
@import "utilities/z_index";
@import "~org/utilities/layout";
@import "~org/utilities/iconUtils";
@import "utilities/typeUtils";
@import "~org/utilities/ellipsis";

.blog-post-body {
    @include media-breakpoint-down(sm) {
        margin-bottom: 0;
    }
}

.blog-post-html {
    font-size: $blog-post-body-font-size;
}

.blog-breadcrumb {
    margin-top: 0;
    margin-bottom: rem(14px);

    @include media-breakpoint-up(md) {
        margin: 0 auto;
    }

    .breadcrumb {
        margin-bottom: 0;
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
    }
}

.content-header-bar,
.blog-post-header {
    margin-top: 0;
    margin-bottom: 0;

    @include media-breakpoint-up(md) {
        margin-top: rem(20px);
        margin-bottom: rem(15px);
    }

    .blog-post-header-inner {
        border-bottom: 0;
        padding-bottom: 0;
    }

    .blog-post-category {
        margin-top: 0;
        margin-bottom: 4px;
        color: $blog-category-color;

        a {
            color: $blog-category-color;
            text-decoration: none;

            &:hover {
                color: $link-hover-color;
            }
        }
    }

    .blog-post-title {
        margin: 0;
        margin-bottom: 6px;

        @include media-breakpoint-up(md) {
            font-size: $blog-post-title-font-size;
            line-height: 1;
        }

        @include media-breakpoint-up(lg) {
            float: left;
            margin-right: 30px;
        }
    }

    .blog-post-header-date-social {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: map-get($spacers, 3);

        @include media-breakpoint-up(md) {
            margin-top: 0;
        }
    }

    .blog-post-date {
        font-size: $blog-post-date-font-size;
        color: $blog-post-date-color;
        padding-top: 19px;
        margin: 0;
    }

    .blog-social-title {
        display: none;
    }
}

.blog-article {
    .content-header-bar {
        margin: rem(15px) auto;

        @include media-breakpoint-up(md) {
            margin: rem(35px) auto;
        }
    }

    .blog-post-title {
        margin: 0;

        @include media-breakpoint-up(md) {
            text-align: center;
        }

        @include media-breakpoint-up(lg) {
            float: none;
            margin: 0 auto;
        }
    }
}

.blog-post-slider {
    margin-bottom: map-get($spacers, 5);

    img {
        width: 100%;
        max-width: none;
    }
}

.blog-social {
    .blog-social-title {
        font-weight: $font-weight-bold;
        margin-bottom: rem(10px);
    }

    .blog-social-icons {
        font-size: 0;
    }

    .blog-social-link {
        display: inline-block;
        margin: 0 rem(16px);
        cursor: pointer;
        text-align: center;
    }

    .icon {
        width: 38px;
        height: 38px;
        background-color: $secondary;
        border-radius: 50%;
    }
}

.blog-more-posts {
    margin-top: map-get($spacers, 5);
    margin-bottom: map-get($spacers, 5);

    @include media-breakpoint-up(md) {
        margin-top: map-get($spacers, 6);
        margin-bottom: map-get($spacers, 6);
    }
}

.blog-category-subfolder {
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;

    @include media-breakpoint-up(md) {
        margin: 0 0 rem(35px);
    }

    .blog-category-subfolders-title {
        margin-bottom: 0;
    }

    .category-subfolder-tile-list {
        @include media-breakpoint-down(sm) {
            margin-bottom: 0;
            padding: 0 0 rem(15px);
        }
    }

    .blog-tile {
        .content-tile-category-link {
            @include link-chevron();
        }
    }
}

.blog-related-content,
.product-related-content {
    margin-top: map-get($spacers, 4);
    margin-bottom: map-get($spacers, 3);
    padding-top: map-get($spacers, 4);
    padding-left: 0;
    padding-right: 0;
    border-top: $border;

    @include media-breakpoint-up(md) {
        margin-top: map-get($spacers, 4);
        margin-bottom: map-get($spacers, 4);
    }

    .blog-related-content-title,
    .product-related-content-title {
        margin-bottom: map-get($spacers, 4);
    }

    .blog-tile-caro,
    .related-blog-tile-caro,
    .product-related-content-tile-caro {
        width: 100%;
        margin: auto;

        .slick-prev {
            left: -24px;
        }

        .slick-next {
            right: -28px;
        }

        @include media-breakpoint-down(sm) {
            margin-bottom: rem(20px);
            padding: rem(5px) 0 0 0;
        }
    }
}

.blog-related-content {
    border-top: 0;
    margin: rem(10px) 0 0;
    padding: 0;

    @include media-breakpoint-up(md) {
        margin-top: rem(20px);
        margin-bottom: rem(20px);
    }

    .blog-related-content-title {
        text-align: center;
        margin-bottom: 0;
    }
}

.blog-related-products {
    margin-top: rem(28px);
    padding-top: rem(23px);
    padding-left: 0;
    padding-right: 0;
    border-top: $border;

    @include media-breakpoint-up(md) {
        margin-top: rem(20px);
        margin-bottom: rem(20px);
    }

    .blog-related-products-title {
        text-align: center;
        margin-bottom: rem(10px);
    }

    .product-tile-caro {
        width: 100%;

        .slick-prev {
            left: -24px;
        }

        .slick-next {
            right: -24px;
        }

        @include media-breakpoint-down(sm) {
            margin-bottom: 0;
            padding-bottom: map-get($spacers, 4);
        }

        .product-tile {
            @include media-breakpoint-down(sm) {
                margin: 0 rem(7px);
            }
        }
    }
}

.blog-post-info-bottom {
    margin: rem(15px) auto;

    @include media-breakpoint-up(md) {
        margin: rem(20px) auto;
    }

    .blog-post-info-bottom-inner {
        padding: 0;
        border-top: none;
        text-align: center;

        @include media-breakpoint-up(md) {
            padding: 0;
        }
    }
}

.blog-post-tags {
    margin-bottom: map-get($spacers, 4);

    .tag {
        display: inline-block;
        margin-right: map-get($spacers, 3);
        margin-bottom: map-get($spacers, 1);
        font-size: $blog-post-tag-font-size;

        .tag-link {
            color: $blog-post-tag-color;
            text-decoration: none;

            &:hover {
                color: $link-hover-color;
            }
        }
    }
}

.blog-search-results {
    margin-bottom: map-get($spacers, 5);

    @include media-breakpoint-up(md) {
        margin-bottom: map-get($spacers, 6);
    }

    .breadcrumb {
        padding-left: $grid-gutter-width / 2;
        padding-right: $grid-gutter-width / 2;
    }

    .grid-footer {
        width: 100%;
        margin: 0;
    }
}

.blog-search-count {
    font-size: $blog-search-count-font-size;
    font-weight: $blog-search-count-font-weight;
    color: $blog-search-count-color;
    margin: 0;
    text-transform: none;
    text-align: right;

    @include media-breakpoint-up(md) {
        float: right;
        margin: 0;
    }
}

.content-tile {
    .content-tile-image {
        .img-fluid {
            width: 100%;
        }

        .video-with-icon {
            &::after {
                width: auto;
                height: auto;

                @include media-breakpoint-up(md) {
                    width: auto;
                    height: auto;
                }
            }
        }
    }

    .content-tile-category {
        margin: map-get($spacers, 2) 0 map-get($spacers, 1);
        text-transform: uppercase;

        .content-tile-category-link {
            text-decoration: none;
            color: $blog-search-item-category-color;

            &:hover {
                color: $link-hover-color;
            }
        }
    }

    .content-tile-title {
        .card-title-container {
            height: 52px;
            margin-bottom: rem(2px);

            @include media-breakpoint-up(md) {
                margin-bottom: rem(9px);
            }
        }

        .card-title {
            @include ellipsis(24px, 52px, $accent-3);
            @include webkit-ellipsis();

            margin-bottom: rem(25px);
            text-align: left;
        }

        .card-text {
            display: none;
            visibility: none;
        }

        .article-link {
            @include link-primary();
        }

        .content-tile-title-link {
            text-decoration: none;
            color: $blog-search-item-title-color;

            &:hover {
                color: $link-hover-color;
            }
        }
    }
}

.content-grid-container {
    @include media-breakpoint-down(md) {
        padding: 0;
    }
}

.content-grid {
    padding-top: rem(20px);

    .content-tile {
        margin-bottom: rem(15px);

        @include media-breakpoint-up(md) {
            margin-bottom: rem(60px);
        }

        .card-text {
            display: block;
            visibility: visible;
            height: 70px;

            @include media-breakpoint-up(md) {
                height: 85px;
            }

            > p {
                @include ellipsis(20px, 70px, $accent-3);
                @include webkit-ellipsis(3);

                text-align: left;
                margin-left: 0;

                @include media-breakpoint-up(md) {
                    @include ellipsis(23px, 85px, $accent-3);
                    @include webkit-ellipsis(3);

                    text-align: left;
                    margin-left: 0;
                }

                @include article-description();
            }
        }
    }
}

.content-refinement-bar {
    overflow: auto;

    ul {
        padding-left: 0;
    }

    @include media-breakpoint-down(sm) {
        background-color: $white;
        box-shadow: 0 0.313em 0.938em rgba(0, 0, 0, 0.5);
        display: none;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: z("refinement-bar");
    }

    @include media-breakpoint-down(xs) {
        position: fixed;
        height: 100%;
    }

    @include media-breakpoint-up(md) {
        display: block !important;
    }
}

.content-refinements {
    .header,
    .values {
        padding: 0;

        @include media-breakpoint-only(sm) {
            li {
                display: inline-block;
            }
        }
    }

    .header {
        font-size: 1.125em;
        color: $body-color;
    }

    ul {
        overflow: auto;

        li {
            padding-left: 1px;

            button {
                border: none;
                color: $primary;
                background-color: transparent;
            }
        }
    }

    li {
        list-style-type: none;
        padding-left: 0;

        &.color-attribute {
            display: inline-block;
        }

        span {
            color: $body-color;

            &.disabled {
                color: $nav-link-disabled-color;
            }
        }
    }

    @include media-breakpoint-down(xs) {
        padding: 0;
    }
}

.content-refinement {
    margin-bottom: 1em;

    @include media-breakpoint-down(sm) {
        &.card {
            border-top: 0 none;
            border-left: 0 none;
            border-right: 0 none;
            border-radius: 0;
            margin-bottom: 0;
        }

        .card-header {
            border-bottom: 0 none;
            padding: 0.25rem 1rem;
        }

        .card-body {
            padding: 0 1rem;
        }
    }

    a {
        text-decoration: none;
    }

    &.refinement-category {
        li {
            margin-left: 0;
            display: block;
        }

        > ul > li {
            margin-left: 0;
        }
    }
}

.category-subfolder-tile-list {
    margin: auto;
    width: 100%;
    overflow-x: scroll;
    justify-content: left;

    &::-webkit-scrollbar {
        -webkit-appearance: none;

        &-thumb {
            border-radius: 10px;
            border: 5px solid $white; /* should match background, can't be transparent */
            background-color: rgba(0, 0, 0, 0.25);
        }
    }

    @include media-breakpoint-up(md) {
        width: calc(100% - 64px);
    }

    @include media-breakpoint-up(lg) {
        width: calc(100% - 96px);
        max-width: 100%;
        justify-content: center;
    }

    .tile-list-container {
        white-space: nowrap;
    }

    .img-fluid {
        margin: auto;
    }

    .blog-tile {
        display: inline-block;
        padding: 0 0.5rem;
    }

    .content-tile-category {
        margin-top: rem(10px);
        text-align: center;
    }

    .slick-track {
        margin: auto;
    }
}

.blog-tile-caro,
.related-blog-tile-caro,
.product-related-content-tile-caro {
    padding: 1rem 0.5rem;

    .content-tile-image {
        .img-fluid {
            width: 100%;
        }

        .video-with-icon {
            &::after {
                width: auto;
                height: auto;

                @include media-breakpoint-up(md) {
                    width: auto;
                    height: auto;
                }
            }
        }
    }

    .blog-tile,
    .product-related-content-tile {
        padding: 0 0.5rem;

        .content-tile-category {
            margin: map-get($spacers, 2) 0 map-get($spacers, 1);
            text-transform: uppercase;

            .content-tile-category-link {
                text-decoration: none;
                color: $blog-search-item-category-color;

                &:hover {
                    color: $link-hover-color;
                }
            }
        }

        .content-tile-title {
            .content-tile-title-link {
                text-decoration: none;
                color: $blog-search-item-title-color;

                &:hover {
                    color: $link-hover-color;
                }
            }
        }
    }
}

.blog-landing-page {
    margin-bottom: map-get($spacers, 5);

    @include media-breakpoint-up(md) {
        margin-bottom: map-get($spacers, 6);
    }

    ol.breadcrumb {
        margin-bottom: 0;

        @include media-breakpoint-up(lg) {
            padding: rem(15px);
        }
    }

    .blog-landing-page-hero-carousel {
        .slick-dots {
            bottom: 40px;
        }

        .hero {
            padding: 0 rem(15px) rem(15px);
            user-select: text;

            @include media-breakpoint-up(lg) {
                padding: 0 rem(30px) rem(30px);
            }
        }

        .hero-caro {
            .slick-prev,
            .slick-next {
                top: 45%;
            }
        }

        .hero-full-width {
            position: relative;

            .msg-block {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);

                &.block-left {
                    left: 0;
                }

                &.block-right {
                    right: 0;
                }

                &.block-center {
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            picture {
                width: 100%;

                img {
                    width: 100%;
                }
            }
        }
    }

    .blog-landing-header {
        margin-bottom: map-get($spacers, 2);
        text-align: center;

        @include media-breakpoint-up(lg) {
            margin-bottom: map-get($spacers, 4);
        }
    }

    .blog-landing-post-carousel {
        margin: 0 auto rem(75px);
        padding-top: 0;
        padding-bottom: 0;
        border-top: 0;

        @include media-breakpoint-up(lg) {
            margin-bottom: rem(85px);
        }

        hr {
            margin: rem(15px) auto;

            @include media-breakpoint-up(lg) {
                margin: rem(35px) auto;
            }
        }

        .blog-tile-caro {
            width: auto;
            margin: 0 auto rem(10px);
            padding: 0;

            @include media-breakpoint-up(lg) {
                margin: auto;
            }

            .slick-prev {
                left: -24px;
            }

            .slick-next {
                right: -24px;
            }
        }
    }

    .blog-landing-latest-posts {
        margin: 0 auto rem(35px);
        padding-top: rem(15px);
        padding-bottom: rem(20px);
        border: 0;

        @include media-breakpoint-up(lg) {
            margin-bottom: rem(75px);
            padding-top: rem(35px);
            padding-bottom: rem(60px);
        }

        .blog-landing {
            padding: 0 rem(15px);

            .content-tile {
                margin-bottom: rem(15px);

                @include media-breakpoint-up(lg) {
                    margin-bottom: rem(50px);
                }
            }

            .blog-landing-load-more {
                margin-top: rem(5px);

                @include media-breakpoint-up(lg) {
                    margin-top: rem(-30px);
                }
            }
        }
    }

    .blog-landing-product-carousel {
        margin: 0 auto;
        padding: 0;
        border: 0;

        .product-tile-caro {
            width: auto;
            margin: 0 0 rem(30px);

            .slick-prev {
                left: -24px;
            }

            .slick-next {
                right: -24px;
            }
        }
    }

    .blog-landing-load-more {
        .btn {
            max-width: 240px;
        }
    }
}

.video-with-icon {
    display: block;
    position: relative;

    &::after {
        content: '';
        display: block;
        position: absolute;
        width: auto;
        height: auto;
        background: $svg-video-white no-repeat center center;
        background-size: 43px;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        transform: none;
    }
}

.video-container {
    position: relative;
    padding-bottom: 52.95%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    margin-bottom: 30px;

    .iframe-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
