@import "variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";
@import "~org/utilities/functions";
@import "~org/utilities/nth_of_type";
@import "utilities/typeUtils";

$spacer: rem(15px);
$negative-spacer: rem(-15px);
$gFoldMin: 512px;
$gFoldMax: 720px;
$CARBMin: 730px;
$CARBMax: 750px;

// Cart Headings
.page[data-action=Cart-Show] {
    .page-title {
        margin-top: rem(27px);
        margin-bottom: rem(12px);

        @include type-cart-header();

        @include media-breakpoint-up(lg) {
            margin: 0;
            padding-left: 0;
        }
    }
}

.cart-header {
    @include media-breakpoint-up(lg) {
        margin: rem(51px) 0 0;
    }
}

.need-help {
    @include media-breakpoint-up(lg) {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-right: 0;
    }
}

.cart-top-banner-slot > div {
    margin-top: rem(10px);

    @include media-breakpoint-up(md) {
        margin-top: rem(20px);
    }
}

.cart-empty,
.cart-page {
    margin: rem(10px) auto rem(40px);

    @include media-breakpoint-up(md) {
        margin-top: rem(20px);
    }
}

.single-approaching-discount {
    border: $border;
    background-color: $white;
    color: $primary;
    font-size: $font-size-body;
    font-weight: $font-weight-bold;
    margin-bottom: rem(10px);
    padding: rem(15px);
}

.checkout-continue {
    bottom: 0;
    z-index: 1;
    padding-right: $spacer;
    padding-left: $spacer;
    max-width: 280px;
    margin: 0 auto;

    @include media-breakpoint-up(sm) {
        position: static;
        padding-right: 0.938em;
        padding-left: 0.938em;
    }

    @include media-breakpoint-up(lg) {
        max-width: 100%;
    }

    .continue-shopping-link {
        margin-top: rem(15px);
        width: 100%;
        text-align: center;
        display: block;
    }
}

.edit {
    margin-right: 0.625em;
}

.edit-add-to-wishlist {
    margin-top: auto;

    a {
        font-size: 0.813em;
    }
}

.line-item-attributes {
    margin: 0;
}

.item-attributes {
    vertical-align: top;
    margin-left: rem(15px);

    p {
        margin: 0;
    }

    @include media-breakpoint-up(md) {
        justify-content: space-between;
    }

    @include media-breakpoint-up(lg) {
        margin-left: 0;
    }
}

.line-item-divider {
    margin: $spacer $negative-spacer $spacer $negative-spacer;
}

.cart-page {
    .card {
        border: $border;

        &.product-info {
            border-bottom: none;

            &:not(.last) {
                margin-bottom: 0;
            }

            &.last {
                border-bottom: $border;
            }
        }
    }

    .product-card-footer {
        padding-top: rem(10px);

        p {
            display: inline;
            margin: 0;
        }

        @include media-breakpoint-up(md) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
            padding-top: 0;
        }

        @include media-breakpoint-only(lg) {
            padding-top: rem(10px);
        }
    }

    .product-card-body {
        @include media-breakpoint-up(md) {
            width: 40%;
            flex-shrink: 0;
            padding-right: rem(15px);
        }

        @include media-breakpoint-only(lg) {
            width: auto;
        }

        @include media-breakpoint-up(xl) {
            width: 42%; // prevents pricing from wrapping
        }
    }

    .line-item-name a {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin: 0;
        font-size: $h6-font-size;
        font-family: $headings-font-family;
        font-weight: $headings-font-weight;
        line-height: $headings-line-height;
        text-decoration: none;
    }

    .line-item-total-price {
        text-align: left;

        .line-item-price-info,
        .price {
            display: inline;
        }

        @include media-breakpoint-up(md) {
            align-items: flex-end;

            .line-item-price-info {
                text-align: right;
                white-space: nowrap;
                width: 100%;
            }
        }
    }

    .price {
        display: inline;

        @include media-breakpoint-up(xl) {
            white-space: nowrap;
        }

        .value {
            white-space: nowrap;
        }

        .line-item-total-price-amount {
            font-size: $font-size-body;
        }
    }

    .price .strike-through:not(.non-adjusted-price) {
        display: inline;
        margin-left: rem(8px);
        font-size: $font-size-body;

        ~ .pricing {
            display: inline;

            &.line-item-total-price-amount {
                @include media-breakpoint-only(xs) {
                    display: block;
                }
            }
        }
        @include media-breakpoint-up(md) {
            display: block;
            margin-left: 0;
        }
    }

    .line-item-total-price,
    .line-item-quantity,
    .line-item-price {
        display: flex;
        flex-wrap: wrap;

        @include media-breakpoint-down(sm) {
            > p {
                padding-right: rem(17px);
            }
        }

        @include media-breakpoint-up(md) {
            flex-direction: column;
        }

        @include media-breakpoint-up(lg) {
            width: 33%; // forces promo to wrap
        }
    }

    .line-item-quantity {
        min-width: 115px;
    }

    .product-info {
        padding: rem(18px) rem(10px) rem(24px);

        > .row > div {
            padding: 0;
        }

        @include media-breakpoint-up(md) {
            height: auto;
            padding: rem(20px) rem(30px) rem(20px) rem(15px);
        }
    }

    .CARBIcon {
        width: 85% !important;
        padding-top: initial;
        @media (min-width: $gFoldMin) and (max-width: $gFoldMax) {
            width: 50% !important;
        }

        @media (min-width: $CARBMin) and (max-width: $CARBMax) {
            width: 45% !important;
        }

        .iconPath {
            fill: rgb(224, 68, 68);
        }
    }
}

.cart-product-cards {

    @include media-breakpoint-up(lg) {
        padding-right: rem(30px);
    }
}

.line-item-price {
    color: $body-color;
    margin-bottom: rem(11px);
}

.line-item-price-info {
    font-size: $font-size-body;
    font-weight: $font-weight-bold;
    display: inline;

    .price .strike-through {
        display: block;
    }
}

.line-item-promo {
    font-size: $font-size-xs;
    color: $primary;
    padding: rem(15px) 0 0;

    .promo-name {
        font-weight: $font-weight-bold;
    }
}

.no-margin-top {
    margin-top: 0;
}

.number-of-items {
    margin-top: 1rem;

    @include media-breakpoint-up(sm) {
        margin-top: 0;
    }
}

.optional-promo-container {
    position: relative;
}

.product-to-remove {
    font-weight: bold;
}

.product-image {
    max-width: 120px;
    margin-right: 0;
    flex-grow: 0;
    flex-shrink: 0;

    @include media-breakpoint-up(lg) {
        max-width: 180px;
    }
}

.promo-code-submit {
    padding-left: 0;

    button {
        white-space: nowrap;
        padding: rem(8px) !important;
    }
}

.quantity-form {
    display: inline;
    margin-bottom: 0;
    margin-left: rem(7px);
}

.remove-line-item {
    position: relative;
    display: inline-block;
    margin-top: rem(5px);

    .remove-product {
        border: none;
        cursor: pointer;
    }
}

.product-edit,
.bundle-edit {
    display: inline;
    margin-left: rem(14px);
}

.remove-coupon {
    border: none;
    font-size: $font-size-xs;
}

.totals {
    .card {
        padding: 0;
    }

    .card-body {
        padding: rem(14px) rem(15px);
    }

    .card-header {
        padding-left: rem(15px);

        h6 {
            margin: 0;
        }
    }

    .cart-total-row {
        margin: 0;

        &.sub-total {
            line-height: 1.86;
        }

        &.estimated-total {
            border-top: $border;
            border-bottom: $border;
            height: auto;
            padding: rem(10px) 0;
            margin-top: rem(10px);

            @include type-cart-estimated-total();
        }

        p {
            margin-bottom: 0;
        }

        div:first-of-type {
            padding-left: 0;
        }

        div:last-of-type {
            padding-right: 0;
        }
    }

    > div {
        @include from-end(2) {
            font-size: $font-size-body;
        }
    }

    .order-discount {
        font-weight: $font-weight-bold;
        color: $primary;

        p {
            line-height: 1.86;
            margin-bottom: 0;
        }
    }

    .order-discount-total,
    .grand-total {
        float: right;
        white-space: nowrap;
    }

    @include media-breakpoint-up(lg) {
        padding-left: rem(30px);
    }
}

.tax-calculation-msg {
    display: inline-block;
    font-size: rem(12px);
    margin-bottom: rem(5px);
    margin-top: rem(15px);
}

.cart-financing-msg {
    font-size: rem(12px);
    margin-bottom: rem(11px);
}

.coupon-price-adjustment + .coupon-price-adjustment {
    margin-top: rem(18px);
}

.coupon-price-adjustment,
.promotion-information {
    color: $primary;
    font-size: $font-size-xs;
}

.coupon-promotion-relationship {
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.coupons-and-promos {
    padding-right: 0;
    padding-left: 0;

    > div {
        margin-bottom: rem(10px);

        &:last-child {
            margin-bottom: rem(20px);
        }
    }
}

.coupon-code,
.promotion-information .promotion-name {
    font-weight: $font-weight-bold;
}

.promotion-callout {
    display: block;
}

.coupon-code {
    position: relative;
}

.coupon-applied,
.coupon-not-applied {
    font-weight: $font-weight-normal;
}

.coupon-error {
    margin-top: rem(5px);
    color: $brand-danger;
    white-space: nowrap;
}

.coupon-missing-error {
    display: none;
}

.applied-promotion-discount {
    color: $brand-second;
    float: right;
}

.promotion-information {
    margin: 0;
}

.estimation-finance-info {
    padding: rem(25px);
    text-align: center;
    background-color: $gray-100;
    border: $border;
    margin-bottom: 1em;

    .cc-container {
        display: inline-block;
        width: 70px;
        padding-bottom: rem(10px);
        margin: 0 auto;

        img {
            width: 100%;
        }

        @include media-breakpoint-down(sm) {
            display: none;
        }
    }

    .td-estimation {
        text-align: initial;

        > div {
            line-height: rem(23px);
        }

        .td-details {
            width: 70%;
            display: inline-block;

            > h3 {
                font-size: 28px;
            }

            .td-info {
                font-size: 1rem;
            }

            .td-info-detail {
                font-size: 0.9rem;
                width: 100%;
                position: relative;
                top: 5px;
            }
        }

        .td-buttons {
            @include media-breakpoint-up(lg) {
                position: absolute;
                top: 8px;
            }

            width: 29%;
            display: inline-block;

            .td-apply-button {
                padding: 0 0 5% 15%;

                .td-apply-finance {
                    margin-top: 0;
                    width: 158px;
                    height: 48px;
                }
            }

            .td-payment {
                text-align: center;
            }

            .td-payment-details {
                font-size: 0.875rem;
                position: relative;
                top: 3px;
                left: 10px;
            }
        }

        @include media-breakpoint-down(sm) {
            .td-details {
                width: 100%;

                > h3 {
                    font-size: 20px;
                }

                .td-info-detail {
                    width: 100%;
                }
            }

            .td-buttons {
                width: 100%;

                .td-apply-button {
                    width: 50%;
                    display: inline-block;
                    padding: 0;

                    .td-apply-finance {
                        margin-top: 1.5625rem;
                    }
                }

                .td-payment {
                    width: 48%;
                    display: inline-block;
                    text-align: right;
                    vertical-align: -webkit-baseline-middle;
                    padding-top: 10px;
                    padding-right: 15px;
                }
            }
        }
    }

    .td-payment-details {
        font-size: $font-size-xs;
    }

    .td-apply-finance {
        margin-top: rem(25px);
        width: 100%;
        max-width: 260px;
    }
}

.line-item-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bonus-line-item-msg {
    padding: rem(15px) rem(15px) rem(5px);
    margin: rem(15px) 0 0 0;
    border-top: $border;
    font-weight: $font-weight-bold;

    @include media-breakpoint-up(md) {
        font-size: $font-size-body;
    }
}

.bundle-includes {
    margin-bottom: 0.625em;
}

.bonus-product-button {
    border: none !important;
    margin-top: rem(15px);

    @include media-breakpoint-up(lg) {
        width: calc(100% - 50px);
    }

    button {
        max-width: 280px;
    }
}

.quantity-label {
    font-size: $font-size-body;
    line-height: $line-height-base;
    margin-bottom: rem(8px);
}

.line-item-quantity {
    width: 100%;
    margin-bottom: rem(11px);

    .line-item-quantity-info {
        font-weight: $font-weight-bold;
    }

    @include media-breakpoint-up(md) {
        width: auto;
    }
}

.bundle-misc {
    > div {
        padding-left: $spacer;
    }
}

.cart-error-messaging.cart-error {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.valid-cart-error {
    min-height: 6.5rem;
}

.brand-warning .alert-item {
    padding-left: rem(15px);
    line-height: 1.86;
}

.bundled-line-item {
    .item-attributes {
        margin-left: 0;

        .line-item-name {
            @include media-breakpoint-up(md) {
                width: 90%;
            }

            @include media-breakpoint-up(lg) {
                width: auto;
            }
        }
    }

    .bonus-footer-info {
        @include media-breakpoint-up(md) {
            width: 100%;

            .line-item-total-price {
                padding-right: 0;
            }
        }
    }

    &.last {
        border-bottom: none;
        padding-bottom: 0;
    }
}

.prop65-item-msg {
    margin-top: rem(15px);
}
